extends layout

block content
  
  div(class="pricing-header px-3 py-3 pt-md-5 pb-md-4 mx-auto text-center")
    h1(class="display-4") API
    p(class="lead") Want to integrate NanoMemo.cc into your app, website, or service?

  div(class="container")
    div(class="card-deck mb-3 text-center")

      div(class="card mb-4 box-shadow")
        div(class="card-header")
          h4(class="my-0 font-weight-normal") Tools
        div(class="card-body")
          h1(class="card-title pricing-card-title") ∞
            small(class="text-muted") &nbsp;/ day
          ul(class="list-unstyled mt-3 mb-4")
            li NanoMemoTools package
            li NanoMemo.cc memo requests
            li RESTful API Documentation
            li Example code
          a(href="/docs" role="button" class="btn btn-lg btn-block btn-outline-primary") View Documentation

      div(class="card mb-4 box-shadow")
        div(class="card-header")
          h4(class="my-0 font-weight-normal") Memo Saves
        div(class="card-body")
          h1(class="card-title pricing-card-title") #{ip_credits.daily_credits}
            small(class="text-muted") &nbsp;/ day
          ul(class="list-unstyled mt-3 mb-4")
            li No API keys required
            li Limited memo saves per day
            li Full feature access
            li Automatic daily credits
          a(href="/docs/api#save" role="button" class="btn btn-lg btn-block btn-outline-primary") View Documentation

      div(class="card mb-4 box-shadow")
        div(class="card-header")
          h4(class="my-0 font-weight-normal") API Keys
        div(class="card-body")
          h1(class="card-title pricing-card-title") 0 Nano
            small(class="text-muted") &nbsp;/ key
          ul(class="list-unstyled mt-3 mb-4")
            li User API credentials
            li #{user_daily_credits} memo saves / day
            li Ability to increase limits
            li Automatic daily credits
          a(href="/api/request" role="button" class="btn btn-lg btn-block btn-outline-primary") Request API Key