extends layout

block content
  
  div(class="pricing-header px-3 py-3 pt-md-5 pb-md-4 mx-auto text-center")
    h1(class="display-4") NanoMemo
    p(class="lead") Cryptographically secure memos for every Nano block

  div(class="container")
    div(class="card-deck mb-3 text-center")

      div(class="card mb-4 box-shadow")
        img(class="card-img-top" src="/images/sync_files.png" alt="digitally signed memos" style="height:200px;object-fit:contain;")
        div(class="card-body")
          h5(class="card-title") Secure
          p(class="card-text") Each NanoMemo is cryptographically signed with the same Nano Account key that signs its corresponding Nano block.

      div(class="card mb-4 box-shadow")
        img(class="card-img-top" src="/images/security.png" alt="digitally signed memos" style="height:200px;object-fit:contain;")
        div(class="card-body")
          h5(class="card-title") Private
          p(class="card-text") Each NanoMemo has the option to encrypt its message so that only a specific Nano Account has the ability to decrypt and read it.

      div(class="card mb-4 box-shadow")
        img(class="card-img-top" src="/images/security_on.png" alt="digitally signed memos" style="height:200px;object-fit:contain;")
        div(class="card-body")
          h5(class="card-title") Safe
          p(class="card-text") Every NanoMemo is signed on the client. This means that the server will never have any knowledge of your private keys.

  div(class="pricing-header px-3 py-3 pt-md-5 pb-md-4 mx-auto text-center")
    h2(class="display-4") Recent memos

  div(class="container")
    div(class="card-deck mb-3 text-center")

      each recent_memo in recent_memos

        div(class="card mb-4 box-shadow")
          div(class="card-body")
            h5(class="card-title") !{(recent_memo.is_encrypted ? '<i class="bi bi-lock-fill text-danger" title="Message is encrypted"></i> Encrypted Memo' : 'Memo')}
            h6(class="card-subtitle mb-2 text-muted date-to-local") #{recent_memo.dtg}
            p(class="card-text")
              i #{recent_memo.message}
            a(href="/block/"+recent_memo.hash class="card-link") Details

block end_of_body

  script.
    NanoMemoTools.server.websocketSubscribe(
      function(message) {
        // onmessage
        console.log(message);
      }
    )