extends layout

block content
  
  div(class="pricing-header px-3 py-3 pt-md-5 pb-md-4 mx-auto text-center")
    h1(class="display-4") Memo Validator
    p(class="lead") This form will validate the fields of a memo against the provided signature. All actions are offline and no data is sent to the server.

    div(class="container")

    form(id="formMemo")

      div(class="form-group")
        label(for="inputHash") Nano Block Hash
        input(value=""+(hash === undefined ? '' : hash) type="text" class="form-control" id="inputHash" name="inputHash" maxlength="64" required pattern="[a-fA-F0-9]{64}" title="64-character hexadecimal string")
        div(class="invalid-feedback") Invalid hash, must be hex string 64 characters in length

      div(class="form-group")
        label(for="inputMessage") Message
        textarea(class="form-control" id="inputMessage" name="inputMessage" maxlength=""+message_max_length required) #{(message === undefined ? '' : message)}
        div(class="invalid-feedback") Invalid message, must be between 1 and #{message_max_length} characters for non-Private messages and between 1 and #{(message_max_length / 2) - 16} for Private messages.

      div(class="form-group")
        label(for="inputSigningAddress") Signing Nano Address
        input(value=""+(signing_address === undefined ? '' : signing_address) type="text" class="form-control" id="inputSigningAddress" name="inputSigningAddress" required  pattern="^(nano|xrb)_[13]{1}[13456789abcdefghijkmnopqrstuwxyz]{59}$" title="Nano Address")
        small(id="signingAddressHelp" class="form-text text-muted") The Nano Block represented by the above hash is owned by this Nano Account's address
        div(class="invalid-feedback") Invalid Nano Address

      div(class="form-group")
        label(for="inputHash") Memo Signature
        input(value=""+(signature === undefined ? '' : signature) type="text" class="form-control" id="inputSignature" name="inputSignature" maxlength="128" required pattern="[a-fA-F0-9]{128}" title="128-character hexadecimal string")
        div(class="invalid-feedback") Invalid signature, must be hex string 128 characters in length

      button(type="button" class="btn btn-primary" onclick="validateMemo();") Validate Memo

    div(id="results" class="mt-3")

block end_of_body

  script.
    function validateMemo() {
      // Validate inputs
      const form = $('#formMemo');
      form.addClass('was-validated');
      if (form[0].checkValidity() == false) {
        $('#results').html(`<div class="alert alert-danger" role="alert">
        <h4 class="alert-heading">Validation Failed</h4>
        <p>Invalid inputs provided.</p>`);
        return;
      }

      const memo = new NanoMemoTools.memo.Memo(
        $('#inputHash').val(),
        $('#inputMessage').val(),
        $('#inputSigningAddress').val(),
        $('#inputSignature').val()
      );

      // Verify signature
      if (memo.valid_signature) {
        $('#results').html(`<div class="alert alert-success" role="alert">
        <h4 class="alert-heading">Validation Passed</h4>
        <p>All provided inputs pass validation.</p>`);
      } else {
        $('#results').html(`<div class="alert alert-danger" role="alert">
        <h4 class="alert-heading">Validation Failed</h4>
        <p>Memo inputs do not match provided signature</p>`);
      }
    }