extends layout

block content
  
  div(class="pricing-header px-3 py-3 pt-md-5 pb-md-4 mx-auto text-center")
    h1(class="display-4") Terms of Service
    p(class="lead") Updated: 14 April 2021

  div(class="container")

    p
      strong Conditions of Use

    p We will provide their services to you, which are subject to the conditions stated below in this document. Every time you visit this website, use its services or make a purchase, you accept the following conditions. This is why we urge you to read them carefully.

    p
      strong Applicable Law

    p By visiting this website, you agree that the laws of the United States, without regard to principles of conflict laws, will govern these terms of service, or any dispute of any sort that might come between the operator of these services and you, or its business partners and associates.

    p
      strong Disputes

    p Any dispute related in any way to your visit to this website or to services you purchase from us shall be arbitrated by state or federal court United States and you consent to exclusive jurisdiction and venue of such courts.

    p
      strong User content

    p Visitors may post content as long as it is not obscene, illegal, defamatory, threatening, infringing of intellectual property rights, invasive of privacy or injurious in any other way to third parties.

    p We reserve all rights (but not the obligation) to remove such content. When you post your content, you grant NanoMemo non-exclusive, royalty-free and irrevocable right to use, reproduce, publish, modify such content throughout the world in any media.

    p
      strong Nano Keys

        p Even though private keys are never sent to the NanoMemo server, browser plugins exist that scrape data from webpages. You should be extremely careful when putting your secret/private key into any browser. If at all possible, secret/private keys should only be revealed when disconnected from the Internet. How you protect your keys is a personal decision and NanoMemo is not responsible or liable for your actions.

    p
      strong User Account

    p If you are an owner of an account on this website to include possessing API keys, you are solely responsible for maintaining the confidentiality of your private user details (API Secret). You are responsible for all activities that occur under your account keys.

    p We reserve all rights to terminate accounts, edit or remove content and cancel orders in their sole discretion.